@import url('https://fonts.googleapis.com/css2? family=Montserrat&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;700;9 00&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #111;
    /* background-image: url("../images/bg1.jpg"); background-size: cover;
background-position: center; */
}

.imageCycle1 {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center;
}

.imageCycle2 {
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center;
}

.imageCycle3 {
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position: center;
}

.imageCycle4 {
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    background-position: center;
}

.imageCycle7 {
    background-image: url("../images/bg7.jpg");
    background-size: cover;
    background-position: center;
}

.imageCycle8 {
    background-image: url("../images/bg8.jpg");
    background-size: cover;
    background-position: center;
}

.main-content {
    height: 100%;
}

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    transition: 500ms;
    opacity: 1;
    background-color: #111;
   
}

.logo {
    /* background-color: red; */
    color: white;
}

.Search {
    width: 30%;
    height: 100vh;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* opacity: 0.5; */
}

.Search-small {
    width: 100%;
    /* height: 100%; */
    background: rgba(110, 110, 110, 0.25);
    box-shadow: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* opacity: 0.5; */
}

p {
    font-weight: 700;
    font-size: 7rem;
    font-family: 'Rubik', sans-serif;
}

.form-outline {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#form1 {
    background: none;
    border: none;
}

#form1Large {
    background: none;
    border: none;
}

.search-bar {
    height: 12%;
}

.button-icon {
    width: 20%;
    border: none;
}

.line {
    background-color: white;
    height: 1px;
    width: 85%;
}

.line2 {
    background-color: white;
    height: 1px;
    width: 78%;
    margin-top: 1.5rem;
}

input[type="search"]::placeholder {
    /* Firefox, Chrome, Opera */
    color: white;
}

li {
    list-style: none;
}

.cities p {
    /* margin-top: 2rem; */
    font-size: 18px;
    font-weight: 100;
    color: white;
}

.details p {
    /* margin-top: 2rem; */
    font-size: 18px;
    font-weight: 100;
    color: white;
}

#city_ul_small {
    font-size: 18px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}

#city_ul_large {
    font-size: 18px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}

.weather-icon {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.temperature-small .degree p {
    font-weight: 400;
    font-size: 50px;
}

.temperature-small .place-time .place p {
    font-weight: 900;
    font-size: 30px;
    display: inline;
    /* text-size-adjust: auto; */
}

.time p {
    width: 100%;
    font-weight: 100;
    font-size: 15px;
    display: inline;
}

.weather-name p {
    font-weight: 900;
    font-size: 20px;
}

.temperature-small {
    top: 5rem;
}

#button_color_large {
    background-color: black;
}

#button_color_small {
    background-color: black;
}

input {
    caret-color: white;
}

.animate-character {
    background: #fffc00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #fffc00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 20px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#weather_name_large {
    font-size: 40px;
    font-weight: 600;
}
